<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.tech">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ModifyEmailActivity"></activity>
        <activity android:name=".activity.ModifySignatureActivity" />
        <activity android:name=".activity.ModifyNickName2Activity" />
        <activity android:name=".activity.BuyVipActivity" />
        <activity android:name=".activity.MyVIPActivity" />
        <activity android:name=".activity.ImproveInformationActivity" />
        <activity android:name=".activity.GroupIntroduceActivity" />
        <activity android:name=".activity.GroupFriendActivity" />
        <activity android:name=".activity.GroupSettingActivity" />
        <activity android:name=".activity.SigninActivity" />
        <activity android:name=".activity.SelectGroupActivity" />
        <activity android:name=".activity.ChatSettingActivity" />
        <activity android:name=".activity.CreateGroupActivity" />
        <activity android:name=".activity.AddUserActivity" />
        <activity android:name=".activity.SendGroupActivity" />
        <activity android:name=".activity.MostActivity"/>
        <activity android:name=".activity.IntegralActivity"/>
        <activity
            android:name=".activity.SendNewsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.QueryFriendActivity" />
        <activity android:name=".activity.FollowActivity" />
        <activity android:name=".activity.SetupActivity" />
        <activity android:name=".activity.MyNoticeActivity" />
        <activity android:name=".activity.MyPostActivity" />
        <activity android:name=".activity.MyScoreActivity" />
        <activity android:name=".activity.TaskActivity" />
        <activity android:name=".activity.GroupNoticeActivity" />
        <activity android:name=".activity.FriendNoticeActivity" />
        <activity android:name=".activity.PersonActivity" />
        <activity
            android:name=".activity.GroupActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.CollectionActivity" />
        <activity
            android:name=".activity.MyFriendSeachActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.CommentListActivity" />
        <activity android:name=".activity.CommentActivity" />
        <activity android:name=".activity.ConsultaActivity" />
        <activity android:name=".activity.BootpageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegActivity" />
        <activity android:name=".activity.HomeActivity" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>